
/* master container that holds the level and the route form filter checklist override toggles container */
.pull-up-container {
    --total-displacement: 0px; /* will be modified in .ts file */
    --initial-vertical-offset: 0%; /* will be modified in .ts file */

    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, calc(var(--initial-vertical-offset) + var(--total-displacement)));
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #333333;
    z-index: 10;
}
.pull-up-container.lerping {
    transform: translate(-50%, calc(var(--initial-vertical-offset) + var(--total-displacement)));

    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.pull-up-container__tab {
    background: #adadad;
    width: 100px;
    height: 5px;
    margin: 10px 0px 20px 0px;
    border-radius: 100px;
}

.pull-up-container__level-stack-route-form-filter-checklist-override-toggles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

/* ========== overrides for level stack ========== */

/* level stack (parent) container */
.level-stack--station-map-mobile {
    transform: none;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

/* this description applies to the level stack and route form filter override toggles */
.level-stack__description,
.route-form-filter-checklist-override-toggles__description {
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: #1b1b1b;
    padding: 10px 15px;
    border-radius: 100px;
}

/* level rail container (includes layer options + layer boundaries) */
.level-rail--station-map-mobile {
    align-items: center;
    width: 100%;
}

.level-boundaries {
    display: flex;
    gap: 30px;
}

.layer-options__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.layer-options--station-map-mobile {
    --total-displacement: 0px; /* will be modified in .ts file */

    flex-direction: row;
    width: auto;
    padding: 5px;
    gap: 10px;

    transform: translateX(var(--total-displacement));
}
.layer-options--station-map-mobile.lerping,
.filter-checklist__checkboxes-container--station-map-mobile.lerping {
    --transition-time: 1s; /* will be modified in .ts file */

    transform: translateX(var(--total-displacement));
    transition: transform var(--transition-time) cubic-bezier(0.215, 0.610, 0.355, 1);
}

:is(.all-layers-button--station-map-mobile, .layer-option) {
    width: auto;
    min-height: auto;
    white-space: nowrap; /* prevent text wrappping */
    border-radius: 100px;
}

/* ========== overrides for route form filter checklist override toggles ========== */

/* master (parent) container */
.route-form-filter-checklist-override-toggles__container--station-map-mobile {
    width: 100%;
    border: none;
    background: none;
}

.route-field__dropdown--station-map-mobile:popover-open {
    left: 50%;
    width: 90%;
    transform: translate(-50%);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.route-field__dropdown--station-map-mobile:popover-open::-webkit-scrollbar {
    width: 5px;
}

/* filter checklist */
.filter-checklist--station-map-mobile {
    gap: 0px;
    border-radius: 0px;
}

.filter-checklist__checkboxes-container--station-map-mobile {
    --total-displacement: 0px; /* will be modified in .ts file */

    box-sizing: content-box;
    flex-wrap: nowrap;
    overflow: hidden;
    background: none;
    padding: 0px;
    width: auto; /* do not set it to 100%, it will clip its children to fit the width of the filter checklist (e.g. 100%
                    of browser width) */

    transform: translateX(var(--total-displacement));
}

.filter-checklist__checkboxes-container--station-map-mobile .filter-checklist__checkbox {
    flex-direction: row;
    background: #272727;
}

.filter-checklist__checkboxes-container--station-map-mobile .filter-checklist__checkbox button {
    flex-shrink: 0;
}