.highlighted {
    opacity: 0.1;
    animation: pulse 1.2s ease-in-out infinite;
}

.highlighted path {
    fill: #b4ff1b;
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.8;
    }
}
