/* element descrip parent container */
.element-description__container {
    position: absolute;
}

/* toggle button (in the container, button, element description structure) */
.element-description__toggle-button {
    border: none;
    background: none;
}

.element-description__container img {
    width: 25px;
    height: auto;

    transition: 
        filter 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}
.element-description__toggle-button:active img {
    filter: brightness(0.7);
    transform: scale(1.1);
}
@media (hover:hover) {
    .element-description__toggle-button:hover img {
        filter: brightness(0.7);
        transform: scale(1.1);
    }
}
.element-description__toggle-button.enabled img {
    filter: brightness(0.5);
}

/* NOTE: element description can exist without a container or a button, I just give a container and button for certain elements (where
    it'd be a pain in the ass to see an element description text repeatedly just for hovering over that element OR it'd stylistically
    make more sense and reduces redundancy of these element descriptions) */
.element-description {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    color: #ffffff;
    background: #4e4e4e;

    transition: 
        /* display 0.3s allow-discrete, */
        opacity 0.25s ease-in-out;
}
.element-description__toggle-button.enabled ~ .element-description {
    display: block;
    opacity: 1;
}
/* element-description__hoverable are applied to any buttons (and other misc elements) that are associated with an element description 
    (e.g. it could be the toggle button in .element-description__container OR just a regular button like the map rotate button) */
.element-description__hoverable:active .element-description, 
.element-description__hoverable:active ~ .element-description {
    display: block;
    opacity: 1;
}
@media (hover:hover) {
    .element-description__hoverable:hover .element-description,
    .element-description__hoverable:hover ~ .element-description {
        display: block;
        opacity: 1;
    }
}
@starting-style {
    .element-description__hoverable:hover .element-description,
    .element-description__hoverable:hover ~ .element-description {
        display: block;
        opacity: 0;
    }
    .element-description__hoverable:active .element-description,
    .element-description__hoverable:active ~ .element-description {
        display: block;
        opacity: 0;
    }
}
/* some scrollbar styling for element description (if an override were to allow overflow) */
.element-description::-webkit-scrollbar {
    width: 7px;
}
.element-description::-webkit-scrollbar-track {
    background: #242424;
}
.element-description::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #ffffff;
}
.element-description::-webkit-scrollbar-thumb:active {
    border-radius: 100px;
    background: #979797;
}
@media (hover:hover) {
    .element-description::-webkit-scrollbar-thumb:hover {
        border-radius: 100px;
        background: #979797;
    }
}

/* .map-header overrides for element description */
.map-header .element-description {
    top: 100%;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
}

/* .level-stack overrides for element description and its container */
.level-stack .element-description__container {
    bottom: 90%;
    left: 90%;
}
.level-stack .element-description__container .element-description {
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    text-align: start;
    border-radius: 10px;
}

/* .route-form-filter-checklist-override-toggles__container overrides for element description and its container */
.route-form-filter-checklist-override-toggles__container .element-description__container {
    bottom: 130px;
    right: 2%;
    z-index: 1; /* element description container and the override toggles is in the same layer; since the element description of
                    the override toggle buttons overlay on top of the element description container toggle button, ill set the 
                    container lower than that of the override toggles */
}
.route-form-filter-checklist-override-toggles__container .element-description {
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    max-height: 200px;
    overflow: auto;
    text-align: start;
    border-radius: 10px;
}
/* additional overrides for items in the filter checklist and the container itself (mostly stacking context) */
.route-form-filter-checklist-override-toggles__container {
    z-index: 5; /* currently, the element description lays under the stepui; we just bump up the z-index of it here so it doesn't
                    do that */
}
.override-toggles {
    z-index: 2;
}

/* might remove later and add some ts side logic to better solve the issue of the .element-description__container on the filter
    checklist */
.route-form-filter-checklist-override-toggles__container .override-toggles.hidden ~ .element-description__container {
    bottom: 60px;
}
/* the route form filter override element description container contains a ul hence the styling here */
.element-description ul {
    padding: 0px 0px 0px 20px;
}

/* .override-toggles__accessibility-only-toggle-buttons overrides for element description */
.override-toggles__accessibility-only-toggle-button {
    position: relative; /* needs a position property for left, right, top, bottom in .element-description to work properly;
                            else these properties will refer to the nearest ancestor with those properties (e.g. the route form
                            filter checklist override container (which has map-overlay class, that has a position property); */
}
.override-toggles__accessibility-only-toggle-button .element-description {
    left: 50%;
    transform: translateX(-50%);
    top: auto; /* have to reset top since the parent container's (route form filter checklist override container) styling is 
                    affecting the current values */
    bottom: 105%;
    width: 150px;
    text-align: center;
    border-radius: 100px;
}

/* .map__rotate-button + .map-legend__toggle-button overrides for element description */
:is(.map__rotate-button, .map-legend__toggle-button) .element-description {
    right: 105%;
    width: 150px;
}
/* like the override toggles buttons, I need to add the position property or else the element description will be shifted relative
    to the map-legend parent container */
 .map-legend__toggle-button {
    position: relative; 
 }
 /* when the map legend if open... hide the element description */
.map-legend__toggle-button.enabled .element-description {
    display: none;
    transition: none; /* since the display transition on the element description class is discrete (meaning there is a delay) 
                        we have to strip the transition or else the element will be visible for 0.3s when map legend is enabled */
}