{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/style.css' %}">
</head>

<body>
    Hello World

    <!-- <div class="slider">
        <div class="slide" id="slide_1"></div>
        <div class="slide" id="slide_2"></div>
        <div class="slide" id="slide_3"></div>
        <div class="slide" id=""slide_4></div>
    </div> -->
    <div>
        <input type="range" value="0" min="0" max="5" step="1" list="my-detents">
    </div>

    <!-- allows snap-on on the input grid-->
    <datalist id="my-detents">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
    </datalist>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>




</html>
