{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'platformpathapp/css/subway_lines_buttons.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="line_buttons_container">
        <div id="blue_lines" class="subway_line blue">
            <button id="A_button" value="A">A</button>
            <button id="C_button" value="C">C</button>
            <button id="E_button" value="E">E</button>
        </div>
        <div id="orange_lines" class="subway_line orange">
            <button id="B_button" value="B">B</button>
            <button id="D_button" value="D">D</button>
            <button id="F_button" value="F">F</button>
            <button id="M_button" value="M">M</button>
        </div>
        <div id="yellow_lines" class="subway_line yellow">
            <button id="N_button" value="N">N</button>
            <button id="Q_button" value="Q">Q</button>
            <button id="R_button" value="R">R</button>
            <button id="W_button" value="W">W</button>
        </div>
        <div id="lime_green_lines" class="subway_line lime_green">
            <button id="G_button" value="G">G</button>
        </div>
        <div id="light_green_lines" class="subway_line light_green">
            <buttoN id="L_button" value="L">L</buttoN>
        </div>
        <div id="gray_lines" class="subway_line gray">
            <button id="S_button" value="S">S</button>
        </div>
        <div id="brown_lines" class="subway_line brown">
            <button id="J_button" value="J">J</button>
            <button id ="Z_button" value="Z">Z</button>
        </div>
        <div id="red_lines" class="subway_line red">
            <button id="1_button" value="1">1</button>
            <button id="2_button" value="2">2</button>
            <button id="3_button" value="3">3</button>
        </div>
        <div id="green_lines" class="subway_line green">
            <button id="4_button" value="4">4</button>
            <button id="5_button" value="5">5</button>
            <button id="6_button" value="6">6</button>
        </div>
        <div id="purple_lines" class="subway_line purple">
            <button id="7_button" value="7">7</button>
        </div>
    </div>

    <button id="submission_button"> Submit </button>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>