{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'platformpathapp/css/lines_selection.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <img src="{% static 'platformpathapp/decals/mta_logo.png' %}">
            MTA PLATFORM PATH
        </div>
        <div class="sub_title">
            SELECT A SUBWAY LINE(S)
        </div>
    </div>

    <div id="line_buttons_container">
        <div class="subway_line blue">
            <div id="A_button_container">
                <button value="A">A</button>
            </div>
            <div id="C_button_container">
                <button value="C">C</button>
            </div>
            <div id="E_button_container">
                <button value="E">E</button>
            </div>
        </div>
        
        <div class="subway_line orange">
            <div id="B_button_container">
                <button value="B">B</button>
            </div>
            <div id="D_button_container">
                <button value="D">D</button>
            </div>
            <div id="F_button_container">
                <button value="F">F</button>
            </div>
            <div id="M_button_container">
                <button value="M">M</button>
            </div>
        </div>

        <div class="subway_line yellow">
            <div id="N_button_container"> 
                <button value="N">N</button>
            </div>
            <div id="Q_button_container">
                <button value="Q">Q</button>
            </div>
            <div id="R_button_container">
                <button value="R">R</button>
            </div>
            <div id="W_button_container">
                <button value="W">W</button>
            </div>
        </div>
    
        <div class="subway_line lime_green">
            <div id="G_button_container"> 
                <button value="G">G</button>
            </div>
        </div>

        <div class="subway_line light_green">
            <div id="L_button_container">
                <button value="L">L</button>
            </div>
        </div>

        <div class="subway_line gray">
            <div id="S_button_container"> 
                <button value="S">S</button>
            </div>
        </div>

        <div class="subway_line brown">
            <div id="J_button_container">
                <button value="J">J</button>
            </div>
            <div id="Z_button_container">
                <button value="Z">Z</button>
            </div>
        </div>

        <div class="subway_line red">
            <div id="1_button_container">
                <button value="1">1</button>
            </div>
            <div id="2_button_container">
                <button value="2">2</button>
            </div>
            <div id="3_button_container">
                <button value="3">3</button>
            </div>
        </div>

        <div class="subway_line green">
            <div id="4_button_container">
                <button value="4">4</button>
            </div>
            <div id="5_button_container">
                <button value="5">5</button>
            </div>
            <div id="6_button_container">
                <button value="6">6</button>
            </div>
        </div>

        <div class="subway_line purple">
            <div id="7_button_container">
                <button value="7">7</button>
            </div>
        </div>
    </div>

    <div class="submission_button_container">
        <button id="submission_button">SUBMIT</button>
    </div>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>