{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'platformpathapp/css/lines_selection.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <img src="{% static 'platformpathapp/decals/mta_logo.png' %}">
            MTA PLATFORM PATH
        </div>
        <div class="sub_title">
            SELECT A SUBWAY LINE(S)
        </div>
    </div>

    <div id="subway_lines_master_container">
        <div class="subway_lines_container">
            <div id="A_line_container">
                <button>A</button>
            </div>
            <div id="C_line_container">
                <button>C</button>
            </div>
            <div id="E_line_container">
                <button>E</button>
            </div>
        </div>
        
        <div class="subway_lines_container">
            <div id="B_line_container">
                <button>B</button>
            </div>
            <div id="D_line_container">
                <button>D</button>
            </div>
            <div id="F_line_container">
                <button>F</button>
            </div>
            <div id="M_line_container">
                <button>M</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="N_line_container"> 
                <button>N</button>
            </div>
            <div id="Q_line_container">
                <button>Q</button>
            </div>
            <div id="R_line_container">
                <button>R</button>
            </div>
            <div id="W_line_container">
                <button>W</button>
            </div>
        </div>
    
        <div class="subway_lines_container">
            <div id="G_line_container"> 
                <button>G</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="L_line_container">
                <button>L</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="S_line_container"> 
                <button>S</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="J_line_container">
                <button>J</button>
            </div>
            <div id="Z_line_container">
                <button>Z</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="1_line_container">
                <button>1</button>
            </div>
            <div id="2_line_container">
                <button>2</button>
            </div>
            <div id="3_line_container">
                <button>3</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="4_line_container">
                <button>4</button>
            </div>
            <div id="5_line_container">
                <button>5</button>
            </div>
            <div id="6_line_container">
                <button>6</button>
            </div>
        </div>

        <div class="subway_lines_container">
            <div id="7_line_container">
                <button>7</button>
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>