{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/style.css' %}">
</head>

<body>
    <h1>Bay 50 St</h1>
    <div id="diagram-container"></div>

    <script type="module" src="{% static 'platformpathapp/js/_highlighter.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_async.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_stations.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_app.js' %}"></script>

    <div id="route-form" style="margin: 20px 0;">
        <label for="start-node">Start:</label>
        <select id="start-node">
        </select>

        <label for="end-node">End:</label>
        <select id="end-node">
        </select>

        <button id="find-route">Find Route</button>
    </div>

    <div id="step-ui" style="display: none; margin: 20px 0; padding: 10px; background: #eee;">
        <button id="btn-prev">Previous</button>
        <strong id="instruction-text" style="margin: 0 20px;">Instructions will appear here</strong>
        <button id="btn-next">Next</button>
    </div>

</body>

</html>
