{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/style.css' %}">
</head>

<body>
    <h1>Bay 50 St</h1>
    <div id="diagram-container"></div>
    <button onclick="testHighlight()">Test Highlight</button>

    <button onclick="testDown()">Show Downtown</button>
    <button onclick="testUp()">Show Uptown</button>
    <button onclick="testMez()">Show Mezzanine</button>
    <button onclick="testAll()">Show All</button>

    <script type="module" src="{% static 'platformpathapp/js/_highlighter.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_async.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_stations.js' %}"></script>
    <script type="module" src="{% static 'platformpathapp/js/_app.js' %}"></script>

    <div id="route-form" style="margin: 20px 0;">
        <label for="start-node">Start:</label>
        <select id="start-node">
            <option value="stair_harway_av_1_to_mezz">Harway Av Entrance 1</option>
            <option value="stair_harway_av_2_to_mezz">Harway Av Entrance 2</option>
            <option value="stair_bay_50_st_1_to_mezz">Bay 50 St Entrance 1</option>
            <option value="stair_bay_50_st_2_to_mezz">Bay 50 St Entrance 2</option>
            <option value="platform_downtown">Downtown Platform</option>
            <option value="platform_uptown">Uptown Platform</option>
        </select>

        <label for="end-node">End:</label>
        <select id="end-node">
            <option value="platform_downtown">Downtown Platform</option>
            <option value="platform_uptown">Uptown Platform</option>
            <option value="stair_harway_av_1_to_mezz">Harway Av Exit 1</option>
            <option value="stair_harway_av_2_to_mezz">Harway Av Exit 2</option>
            <option value="stair_bay_50_st_1_to_mezz">Bay 50 St Exit 1</option>
            <option value="stair_bay_50_st_2_to_mezz">Bay 50 St Exit 2</option>
        </select>

        <button onclick="find-route">Find Route</button>
    </div>

    <div id="step-ui" style="display: none; margin: 20px 0; padding: 10px; background: #eee;">
        <button id="btn-prev">Previous</button>
        <strong id="instruction-text" style="margin: 0 20px;">Instructions will appear here</strong>
        <button id="btn-next">Next</button>
    </div>

</body>

</html>
