{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/station_map.css' %}">
		<link rel="stylesheet" href="{% static 'platformpathapp/css/template_header.css' %}">
		<link rel="stylesheet" href="{% static 'platformpathapp/css/template_footer.css' %}">
		<link rel="stylesheet" href="{% static 'platformpathapp/css/template_brand_logo.css' %}">
</head>

<body>
	<!-- ================= HEADER (fixed / absolutely positioned nav bar) ================= -->
	<header class="site-header site-header__station-map-override">
		<div class="site-header__inner">
			<a class="brand" href="#">
					<img class="brand__logo" src="{% static 'platformpathapp/decals/mta_logo.png' %}" alt="MTA logo big">
					<span class="brand__name">PLATFORMPATH</span>
			</a>
			<nav class="site-header__nav">
					<a href="/not-found">ABOUT US</a>
					<a href="/">HOME</a>
					<a href="/not-found">NAVIGATE</a>
			</nav>
		</div>
		<button class="site-header__toggle-button">
			<img 
				class="toggle-button__animated-parts-img"
				src="{% static 'platformpathapp/decals/site_header_toggle_button_animated_parts.svg' %}" 
				alt="Site header toggle button icon animated parts">
			<img 
				class="toggle-button__base-img"
				src="{% static 'platformpathapp/decals/site_header_toggle_button_base.svg' %}" 
				alt="Site header toggle button icon base">
		</button>
	</header>

	<main class="station-map-page">
		<section class="station-map-stage" aria-label="Station map">

			<!-- ================= STATION DIAGRAM CONTAINER ================= -->
			<div class="diagram-container" id="diagram-container">
					<!-- SVG loads here -->
			</div>

			<header class="map-overlay map-header element-description__hoverable">
				<h1 id="diagram-name"></h1>

				<span class="element-description">Go back to stations selection</span>
			</header>

			<!-- ================= LAYERS/LEVELS VIEW TOGGLE ================= -->
			<aside class="map-overlay level-stack" aria-label="Map view toggles">
				<button id="show-all-layers" class="all-layers-button active" type="button">
					SHOW ALL LEVELS
				</button>
				
				<div class="level-rail">
					<p class="level-boundary">TOP LEVEL ↑</p>
					<div id="layer-options" class="layer-options"></div>
					<p class="level-boundary">BOTTOM LEVEL ↓</p>
				</div>

				<div class="element-description__container">
					<button class="element-description__toggle-button element-description__hoverable">
						<img 
							src="{% static 'platformpathapp/decals/element_description_hover_element.svg' %}" 
							alt="Element description toggle button icon"
						>
					</button>
					<span class="element-description">
						Change what level or floor of the station you are currently viewing.
						<br>
						<i>*Depending on the station, there can be many different levels.*</i>
					</span>
				</div>
			</aside>

			<!-- ================= ROUTE FORM (PATH FINDING) + FILTER CHECKLIST + OVERRIDE TOGGLES  ================= -->
			<aside class="map-overlay route-form-filter-checklist-override-toggles__container">
				<section class="filter-checklist" aria-label="Filters toggle">
					<div class="filter-checklist__checkboxes-container-wrapper hidden">
						<div class="filter-checklist__checkboxes-container"></div>
					</div>
					<button class="filter-checklist__toggle-button">
						<img src="{% static 'platformpathapp/decals/dropdown_arrow_reversed_logo.svg' %}" alt="Filter checklist toggle button icon">
						SELECT FILTERS
					</button>
				</section>

				<section class="override-toggles">
					<strong>OVERRIDES</strong>
					<div class="override-toggles__toggle-buttons-container">
						<button class="override-toggles__accessibility-only-toggle-button element-description__hoverable" aria-selected="false">
							<img 
								src="{% static 'platformpathapp/decals/override_toggles_accessibility_only_toggle_button.svg' %}" 
								alt="Accessibility only toggle button icon"
							>
							<span class="element-description">Prioritize routes that are ADA accessible</span>
						</button>
						<button class="override-toggles__accessibility-none-toggle-button element-description__hoverable" aria-selected="false">
								<!-- replace with accessibility none toggle button icon -->
							<img 
								src="{% static 'platformpathapp/decals/override_toggles_accessibility_only_toggle_button.svg' %}" 
								alt="Accessibility none toggle button icon"
							>
							<span class="element-description">Avoid nodes that are ADA accessible</span>
						</button>
					</div>
				</section>

				<section id="route-form" class="route-form" aria-label="Nodes selection">
					<div class="route-field">
						<button class="route-form__button route-field__dropdown-button" popovertarget="start-node-dropdown">
							START
							<img src="{% static 'platformpathapp/decals/node_option_selected_indicator.svg' %}" alt="Node option selected indicator">
						</button>
						<div id="start-node-dropdown" class="route-field__dropdown" popover></div>
					</div>
					<div class="route-field">
						<button class="route-form__button route-field__dropdown-button" popovertarget="end-node-dropdown">
							END
							<img src="{% static 'platformpathapp/decals/node_option_selected_indicator.svg' %}" alt="Node option selected indicator">
						</button>
						<div id="end-node-dropdown" class="route-field__dropdown" popover></div>
					</div>

					<button class="route-form__button route-form__find-route-button" id="find-route" type="button">FIND ROUTE</button>
				</section>

				<div class="element-description__container">
					<button class="element-description__toggle-button element-description__hoverable">
						<img 
							src="{% static 'platformpathapp/decals/element_description_hover_element.svg' %}" 
							alt="Element description toggle button icon"
						>
					</button>
					<span class="element-description">
						This is the pathfinding bar — a bunch of buttons and tools to help you find your way through the station.
						There are a total of 3 tools on this bar.
						<ul>
							<li>
								<b>Filters</b> determines what type of parts you can select on the station (like stairs, platform sections, etc)
							</li>
							<li>
								<b>Overrides</b> are optional buttons you can enable to affect what paths you navigate through the station (like 
								accessibility only navigating).
								<br>
								<i>*If you don't see the override bar, it simply means that there are no optional buttons 
								that exist for this station.*</i>
							</li>
							<li>
								<b>Start/End/Find Route</b> are buttons where you select which part of the station you want to go from (start) and to (end).
								You need to select a start and end destination for the find route button to work.
							</li>
						</ul>
					</span>
				</div>
			</aside>
			<!-- ================= ROUTE PREVIEW ================= -->
			<div
				id="route-preview"
				class="map-overlay route-preview"
				style="display: none;"
				aria-label="Route preview"
			>
				<strong>Route preview</strong>
				<span id="route-preview-summary"></span>

				<div class="route-preview__controls">
					<button id="start-navigation" type="button">
						Start Navigation
					</button>

					<button id="cancel-route-preview" type="button">
						Change Route
					</button>
				</div>
			</div>
			<!-- ================= STEP UI BLOCK ================= -->
			<aside id="step-ui" class="map-overlay step-ui hidden" aria-label="Steps Instructions/Buttons">
				<strong class="step-ui__instruction-text" id="instruction-text">Instructions will appear here</strong>
				<div class="step-ui__step-controls">
					<button id="btn-prev" class="step-ui__btn-prev" type="button">
						<img src="{% static 'platformpathapp/decals/step_ui_prev_button.svg' %}" alt="Step ui previous button icon">
					</button>
					<button id="btn-next" class="step-ui__btn-next" type="button">
						<img src="{% static 'platformpathapp/decals/step_ui_next_button.svg' %}" alt="Step ui next button icon">
					</button>
				</div>
			</aside>

			<!-- ================= MAP ROTATE BUTTON ================= -->
			<button class="map-overlay map__rotate-button element-description__hoverable">
				<img 
					class="rotate-button__animated-parts-img" 
					src="{% static 'platformpathapp/decals/map_rotate_button_animated_parts.svg' %}" 
					alt="Rotate map button icon animated parts"
				>
				<img 
					class="rotate-button__base-img" 
					src="{% static 'platformpathapp/decals/map_rotate_button_base.svg' %}" 
					alt="Rotate map button icon base"
				>

				<span class="element-description">Rotate the map view</span>
			</button>

			<!-- ================= LEGEND ================= -->
			<aside class="map-overlay map-legend">
				<div class="map-legend__info-container-wrapper hidden">
					<div class="map-legend__info-container">
						<div class="map-legend__section map-legend__color-codes-info">
							<strong>COLOR CODES</strong>
							<ul>
								<li class="map-legend__item start-node__highlight-color">
									<span>START NODE</span>
									<div class="color-code__box"></div>
								</li>
								<li class="map-legend__item end-node__highlight-color">
									<span>END NODE</span>
									<div class="color-code__box"></div>
								</li>
							</ul>
						</div>
						<div class="map-legend__section map-legend__icons-info">
							<strong>ICONS</strong>
							<ul>
								<li class="map-legend__item stairs">
									<span>STAIRS</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_stairs.svg' %}"
										alt="Stairs legend icon"
									>
								</li>
								<li class="map-legend__item ramp">
									<span>RAMP</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_ramp.svg' %}"
										alt="Ramp legend icon"
									>
								</li>
								<li class="map-legend__item elevator">
									<span>ELEVATOR</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_elevator.svg' %}"
										alt="Elevator legend icon"
									>
								</li>
								<li class="map-legend__item mini-kiosk">
									<span>MINI KIOSK</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_mini_kiosk.svg' %}"
										alt="Mini kiosk legend icon"
									>
								</li>
								<li class="map-legend__item kiosk">
									<span>KIOSK</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_kiosk.svg' %}"
										alt="Kiosk legend icon"
									>
								</li>
								<li class="map-legend__item door">
									<span>DOOR</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_door.svg' %}"
										alt="Door legend icon"
									>
								</li>
								<li class="map-legend__item exit">
									<span>EMERGENCY EXIT</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_exit.svg' %}"
										alt="Exit legend icon"
									>
								</li>
								<li class="map-legend__item trash-bin">
									<span>TRASH BIN</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_trash_bin.svg' %}"
										alt="Trash bin legend icon"
									>
								</li>
								<li class="map-legend__item bench">
									<span>BENCH</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_bench.svg' %}"
										alt="Bench legend icon"
									>
								</li>
								<li class="map-legend__item omny-machine">
									<span>OMNY MACHINE</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_omny_machine.svg' %}"
										alt="Omny machine legend icon"
									>
								</li>
								<li class="map-legend__item turnstile">
									<span>TURNSTILE</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_turnstile.svg' %}"
										alt="Turnstile legend icon"
									>
								</li>
								<li class="map-legend__item iron-maiden-turnstile">
									<span>IRON MAIDEN TURNSTILE</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_iron_maiden_turnstile.svg' %}"
										alt="Iron maiden turnstile legend icon"
									>
								</li>
								<li class="map-legend__item booth">
									<span>BOOTH</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_booth.svg' %}"
										alt="Booth legend icon"
									>
								</li>
								<li class="map-legend__item misc">
									<span>MISCELLANEOUS STRUCTURES</span>
									<img 
										class="legend-icon" 
										src="{% static 'platformpathapp/decals/legend_misc.svg' %}"
										alt="Misc legend icon"
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<button class="map-legend__toggle-button element-description__hoverable">
					<img 
						class="toggle-button__animated-parts-img"
						src="{% static 'platformpathapp/decals/map_legend_toggle_button_animated_parts.svg' %}" 
						alt="Toggle map legend button icon animated parts"
					>
					<img 
						class="toggle-button__base-img"
						src="{% static 'platformpathapp/decals/map_legend_toggle_button_base.svg' %}" 
						alt="Toggle map button icon base"
					>

					<span class="element-description">Look at the station legend</span>
				</button>
			</aside>

		</section>
	</main>

	<!-- ================= FOOTER ================= -->
	<footer class="site-footer site-footer__station-map-override">
		<div class="brand brand--footer">
			<img class="brand__logo brand__logo--sm" src="{% static 'platformpathapp/decals/mta_logo.png' %}" alt="MTA logo small">
			<span class="brand__name brand__name--sm">PLATFORMPATH</span>
		</div>
		<div class="site-footer__legal">
			<span>2026 All rights reserved.</span>
			<span class="site-footer__disclaimer">DISCLAIMER: Maps are not 100% accurate and are subject to updates.</span>
		</div>
	</footer>

	<script src="https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js"></script>
	<script type="module" src="{% static 'platformpathapp/js/app.js' %}"></script>

</body>

</html>
