{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/stations_selection.css' %}">
</head>
<body>
     <div class="header">
        <div class="title">
            <img src="{% static 'platformpathapp/decals/mta_logo.png' %}">
            MTA PLATFORM PATH
        </div>
        <div class="sub_title">
            SELECT YOUR STATION
        </div>
    </div>

    <div id="stations_selection_container" class="stations_selection_container">
        <div class="logo_input_container">
            <div id="logo" class="logo"></div>
            <input>
        </div>
        <ol class="stations">
        </ol>
    </div>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>
