{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/stations_selection.css' %}">
</head>
<body>
	<!-- ================= HEADER (fixed / absolutely positioned nav bar) ================= -->
  <header class="site-header">
    <div class="site-header__inner">
      <a class="brand" href="#">
        <img class="brand__logo" src="{% static 'platformpathapp/decals/mta_logo.png' %}" alt="MTA">
        <span class="brand__name">PLATFORMPATH</span>
      </a>
      <nav class="site-header__nav">
				<a href="#about">ABOUT US</a>
				<a href="/alternative_index">HOME</a>
        <a href="#navigate">NAVIGATE</a>
      </nav>
    </div>
  </header>

  <!-- ================= HEADER SPACING ================= -->

	<div class="header-spacer"></div>

	<main class="page">
		<!-- ================= SUBWAY STATION SELECTION ================= -->

		<section class="stations__input-selection-container">
      <div class="stations__input-container-wrapper">
        <section class="user-prompt">
          SELECT A STATION
        </section>
		    <div class="divider"></div>

        <div class="stations__input-container">
          <div class="stations__line-logo-container">
            <button class="stations__line-logo-button"></button>
            <span class="stations__line-logo-button-description" role="button description label">Select a new line</span>
          </div>
          <input class="stations__input-form" placeholder="Search here..."> 
        </div>
      </div>
			<div class="stations__selection-container">
        <div class="stations__direction-slider-container">
          <div class="stations__direction-slider" role="switch">
            <div class="slider-track">
              <div class="slider-knob"></div>
            </div>
          </div>
          <span class="stations__direction-description"></span>
        </div>
				<ol class="stations__list">
				</ol>
			</div>
		</section>
	</main>

	<!-- ================= FOOTER ================= -->
  <footer class="site-footer">
    <div class="brand brand--footer">
      <img class="brand__logo brand__logo--sm" src="{% static 'platformpathapp/decals/mta_logo.png' %}" alt="MTA">
      <span class="brand__name brand__name--sm">PLATFORMPATH</span>
    </div>
    <div class="site-footer__legal">
      <span>2026 All rights reserved.</span>
      <span class="site-footer__disclaimer">DISCLAIMER: Maps are not 100% accurate and are subject to updates.</span>
    </div>
  </footer>

	<script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>
