{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'platformpathapp/css/stations_selection.css' %}">
</head>
<body>
     <div class="header">
        <div class="title">
            <img src="{% static 'platformpathapp/decals/mta_logo.png' %}">
            MTA PLATFORM PATH
        </div>
        <div class="sub_title">
            SELECT YOUR STATION
        </div>
    </div>

    <div id="stations_selection_container" class="stations_selection_container">
        <div class="blue">
            <div id="A_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">A</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="C_selection_container" class="subway_line_container">
                <div class="logo_input_container">                
                    <div class="logo">C</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="E_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">E</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
        </div>

        <div class="orange">
            <div id="B_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">B</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="D_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">D</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="F_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">F</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="M_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">M</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
        </div>

        <div class="yellow">
            <div id="N_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">N</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="Q_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">Q</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="R_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">R</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
            <div id="W_selection_container" class="subway_line_container">
                <div class="logo_input_container">
                    <div class="logo">W</div>
                    <input>
                </div>
                <ol class="stations">
                </ol>
            </div>
        </div>

        <div class="lime_green">
            <div id="G_line_container" class="subway_line_container">
                <div id="G_input_container" class="input_form_container">
                    <div class="logo">G</div>
                    <input list="G_datalist">
                    <datalist id="G_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="light_green">
            <div id="L_line_container" class="subway_line_container">
                <div id="L_input_container" class="input_form_container">
                    <div class="logo">L</div>
                    <input list="L_datalist">
                    <datalist id="L_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="gray">
            <div id="S_line_container" class="subway_line_container">
                <div id="S_input_container" class="input_form_container">
                    <div class="logo">S</div>
                    <input list="S_datalist">
                    <datalist id="S_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="brown">
            <div id="J_line_container" class="subway_line_container">
                <div id="J_input_container" class="input_form_container">
                    <div class="logo">J</div>
                    <input list="J_datalist">
                    <datalist id="J_datalist"></datalist>
                </div>
            </div>
            <div id="Z_line_container" class="subway_line_container">
                <div id="Z_input_container" class="input_form_container">
                    <div class="logo">Z</div>
                    <input list="Z_datalist">
                    <datalist id="Z_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="red">
            <div id="1_line_container" class="subway_line_container">
                <div id="1_input_container" class="input_form_container">
                    <div class="logo">1</div>
                    <input list="1_datalist">
                    <datalist id="1_datalist"></datalist>
                </div>
            </div>
            <div id="2_line_container" class="subway_line_container"> 
                <div id="2_input_container" class="input_form_container">
                    <div class="logo">2</div>
                    <input list="2_datalist">
                    <datalist id="2_datalist"></datalist>
                </div>
            </div>
            <div id="3_line_container" class="subway_line_container">
                <div id="3_input_container" class="input_form_container">
                    <div class="logo">3</div>
                    <input list="3_datalist">
                    <datalist id="3_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="green">
            <div id="4_line_container" class="subway_line_container">
                <div id="4_input_container" class="input_form_container">
                    <div class="logo">4</div>
                    <input list="4_datalist">
                    <datalist id="4_datalist"></datalist>
                </div>
            </div>
            <div id="5_line_container" class="subway_line_container">
                <div id="5_input_container" class="input_form_container">
                    <div class="logo">5</div>
                    <input list="5_datalist">
                    <datalist id="5_datalist"></datalist>
                </div>
            </div>
            <div id="6_line_container" class="subway_line_container">
                <div id="6_input_container" class="input_form_container">
                    <div class="logo">6</div>
                    <input list="6_datalist">
                    <datalist id="6_datalist"></datalist>
                </div>
            </div>
        </div>

        <div class="purple">
            <div id="7_line_container" class="subway_line_container">
                <div id="7_input_container" class="input_form_container">
                    <div class="logo">7</div>
                    <input list="7_datalist">
                    <datalist id="7_datalist"></datalist>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'platformpathapp/js/app_new.js'%}"></script>
</body>
</html>
